.nav-pills .nav-link {
    background: #212529 !important;
    color: white !important;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link.active {
    background: white !important;
    color: rgba(96, 9, 240, 1) !important;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
}

.user-table{
    height: auto;
}
