.highlighted {
  color: rgba(96, 9, 240, 1);
}

.tabs-container{
  background-color: rgba(129, 5, 240, 1);
}

.profile-card{
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}

.nav{
    --bs-nav-link-color: white; 
}



.nav-pills .nav-link.active {
  --bs-nav-pills-border-radius: 0.375rem ;
  --bs-nav-pills-link-active-color: black !important;
  --bs-nav-pills-link-active-bg: white !important;
}
.profile-menu .nav-link {
  background-color: rgb(33, 37, 41) !important;
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link {
  background-color: rgb(33, 37, 41);
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}
