.highlighted {
  color: rgba(96, 9, 240, 1);
}

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}

.nav-link {
  color: white;
}

.nav-pills .nav-link.active {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: black;
  --bs-nav-pills-link-active-bg: white;
}
.profile-menu .nav-link {
  background-color: rgb(33, 37, 41);
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link {
  background-color: rgb(33, 37, 41);
  border: 0;
  border-radius: var(--bs-nav-pills-border-radius);
}
